section.intro-section
    .container
        .intro
            .intro__wrap-top
                .intro__block.blockimg
                    img(src="images/picture.jpg", alt="")
                .intro__block.quote
                    span Котировки
            .intro__wrap-bottom
                .intro__block.news
                    span Новости
                .intro__block.info
                    span Раскрытие информации
                    .info-text
                        p Размещен Ежеквартальный отчет эмитента за 1 квартал 2019 года
                        p Размещен Ежеквартальный отчет эмитента за 1 квартал 2019 года
                .intro__block.sale
                    span Закупки и продажи
                    p Раскрытие информации
                .intro__block.block
                    span Блок 3
                    p Раскрытие информации
        .intro-info
            .intro-info__wrap
                .intro-info__left
                    .intro-info__block
                    .intro-info__block
                .intro-info__right 
                    .intro-info__block          